<section id="resume">
<div class="container">
	<div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/BrianBelak.jpg" alt="Responsive image">
	  </div>
  <h3>Brian Belak Resume</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<strong>EDUCATION</strong>
			<p>
			University of California, Los Angeles
				<br><i>Master of Library and Information Science, Media Archival Studies</i>
			<p>
			The University of Chicago
				<br><i>Bachelor of Arts with Honors in Cinema and Media Studies</i>
		</h5>
		<h5>
			<strong>PROFESSIONAL EXPERIENCE</strong>
			<p>
			Skid Row History Museum and Archive, Los Angeles Poverty Department
				<br><i>Mellon Foundation Community Archives Intern</i>
			<p>
			UCLA Library Special Collections
				<br><i>AV Scholar, Center for Primary Research and Training</i>
			<p>
			June L. Mazer Lesbian Archives
				<br><i>Digital Resource Development Initiative</i>
			<p>
			Chicago Film Archives
				<br><i>Collections Manager and Client Services Director</i>
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>


    </div>
  </div>
</div>
</section>
